#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}


p {
   color: black;
   font-size:18px;
   font-family: Arial, Helvetica, sans-serif;
}

a { 
text-decoration:none; 
}

a:link {
  color: pink;
  text-decoration: none;
}

a:visited {
  color: light pink;
  text-decoration: none;
}

h1 {
		
  color: black;
  text-align: left-side;
  font-size: 35px; 
  font-family: Arial, Helvetica, sans-serif;
  
}

h2 {
	font-size:22px;
	font-family:  Arial, Helvetica, sans-serif;
	
}

h3{
	font-size:22px;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style-type: none;
	padding-right: 30px; 
 
}

li{	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
}

tr {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

figcaption{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	text-align:center;
}

table, th, td{
	font-size:18px;
	 border: 1px solid black;
	 border-collapse:collapse; 
	
}	



.main {
  margin-right: 160px;  /* KEEP SAME AS SIDEBAR  WIDTH */
  margin-left: 30px; 
  margin-top: 30px; 
  margin-bottom:30px; 
  padding: 0px 10px;
}


.sidenav {
  height: 100%; 
  width: 160x;
  position: fixed; 
  z-index: 1; 
  top: 0; 
	right: 0;
  background-color: grey;
  overflow-x: hidden; 
  padding-top: 10px;
  padding-left: 10px;
  text-align:center;
  font-size: 20px; 
  font-family: Arial, Helvetica, sans-serif;
  
}

iframe {
    margin: none;
    padding: none;
	border: none;
    }
	
#audio-analysis{
	height:80%;
	width:80%;
	display: block;
  margin-left: auto;
  margin-right: auto;

}


.column {
  float: left;
  width: 33.33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
   
}


#audio-transcription{
	height:100%;
	width:100%;

}

.column1 {
  float: left;
  width: 50%;
}


.row1:after {
  content: "";
  display: table;
  clear: both;
}


#similarity-matrix {
	height:50%;
	width:50%;
	display: block;
	 margin-left: auto;
	 margin-right: auto;


}





